<div class="wrapper">
  <div class="heading">The Donut</div>
  <div class="article">
    映えるドーナツショップ
    <p>
      キュートでカラフル！見ているだけで楽しい♪</br>
      バリエーション豊かでもちろんおいしい！</br>
      セット売りも大人気です！
    </p>
  </div>
  <%= image_tag 'donut2.jpg', size: "500x350" %>
</div>